* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: 1px solid red;
}
.wrapper {
   max-width: 960px;
   padding: 20px 0;
   margin: auto;
}
span {
   color: #1abc9c;
   font-weight: 900px;
}
a {
   text-decoration: none;
   color: black;
}
a:hover {
   color: #1abc9c;
}
.logo {
   float: left;
   text-transform: uppercase;
   font-size: 20px;
}
ul {
   float: right;   
}
.nav {
   float: left;
   text-transform: uppercase;
   font-size: 14px;
   list-style: none;
   margin-right: 10px;
}
header {
   margin-bottom: 40px;
}
.clear {
   content: '';
   display: table;
   clear: both;
}
h2 {
   font-size: 40px;
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   text-align: center;
}
h2::after {
   content: "";
   width: 50px;
   height: 5px;
   background-color: #1abc9c;
   display: block;
   margin: 30px auto 50px;
}
.product {
   /* weight: 255px; */
   /* height: 232px; */
   background-color: aquamarine;
}
img {
   width: 200px;
   height: 200px;
   vertical-align: center;
   padding: 30px; 
   display: block;


}