* {
   margin: 0;
   padding: 0;
   outline: 1px solid red;
}
.wrapper {
width: 960px;
padding: 20px 0;
margin: auto;
}
.backgraund {
   background-image: linear-gradient(to right, rgba(241, 199, 236, 0.815), #f1d4ea96), url(../img/maket.png);
    text-align: center;
    background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   width: 100%;
   color: white;
   padding-bottom: 100px; 
   position: relative;
   
  
 }
.nav-container {
   display: flex;
   justify-content: space-around;
}
a {
   color: aqua;
   text-decoration: none;
   font-size: 20px;

}
.logo {
   width: 100px;
   height: 50px;
   justify-content: flex-start;
}

.nav {
   display: flex;  
   width: 500px;
   height: 50px;
   /* flex-direction: row; */
   /* display: flex; */
  flex-wrap: wrap;
  /* height: 400px; */
  /* align-content: space-between;  */
  align-content: space-around;   
   justify-content: flex-end;
   flex-wrap: nowrap;
}

.nav li {
   /* display: flex; */
   list-style: none;
   
   /* align-content: flex-end; */ 
   
   /* justify-content: flex-end;  */
}
h1 {
   font-size: 40px;
   margin-top: 100px;
}
h1::after {
   content: "";
   width: 450px;
   height: 3px;
   background-color: white;
   display: block;
   margin: 20px auto;
}
p {
   font-size: 20px;
}
.btn {
   width: 150px;
   height: 50px;
   background-color: #ee24dde0;
   margin: 30px auto;
   color: aqua;
   font-size: 15px;
   text-transform: uppercase;
   border: 5px solid rgba(255, 0, 179, 0.301);
   display: block;
   position: absolute;
   top: 380px;
   left: 45%;
}