* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* outline: 1px solid rgb(214, 128, 128); */
}

.wrapper {
   max-width: 960px;
   margin: auto;
   margin-bottom: 30px;
}

span {
   color: #1abc9c;
   font-weight: 900;
}

a {
   text-decoration: none;
   color: black;
}

a:hover {
   color: #1abc9c;
}

.logo {
   float: left;
   text-transform: uppercase;
   font-size: 25px;
}

ul {
   float: right;
}

.text {
   margin: 20px 0;
   font-size: 14px;
   font-weight: 300;
   opacity: 0.7;
}

.nav {
   float: left;
   text-transform: uppercase;
   font-size: 17px;
   list-style: none;
   margin-right: 10px;
   font-family: 'Roboto', sans-serif;
}

header {
   padding: 20px 60px;
}

.two {
   background-color: #e9f0fd;
   padding: 50px 0;
}

h2 {
   font-size: 30px;
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   text-align: center;
}

.icon {
   margin: auto;
}

h1::before {
   content: "";
   background-image: url(../img/icon1.png);
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center;
   height: 30px;
   width: 50px;
   padding: 15px;
   vertical-align: -17px;
   background-color: #4f9c8b;
   margin-right: 15px;
}

h1::after {
   content: "";
   background-image: url(../img/icon2.png);
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center;
   height: 30px;
   width: 50px;
   vertical-align: -17px;
   padding: 15px;
   background-color: #4f9c8b;
   margin-left: 15px;
}

h2::after {
   content: "";
   width: 100px;
   height: 5px;
   background-color: #1abc9c;
   display: block;
   margin: 30px auto 50px;
}

.one {
   background-image: linear-gradient(to top, rgba(55, 58, 63, 0.7), rgba(89, 92, 95, 0.7)), url(../img/slide4.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 130px 0 140px 0;
   text-align: center;
   color: white;
}

.clearfix:after {
   content: '';
   display: table;
   clear: both;
}

.name {
   width: 160px;
   height: 40px;
   background-color: #323232;
   float: left;
   color: white;
   line-height: 50px;
   text-transform: uppercase;
   text-align: left;
   padding-left: 10px;
   font-size: 17px;
}

.menu {
   width: 25%;
   float: left;
   position: relative;
}

.submenu {
   position: absolute;
   top: 30%;
   left: 16%;
}

.name-container {
   position: relative;
}

.price {
   width: 60px;
   height: 40px;
   background-color: #8c8c8c;
   float: left;
   color: white;
   line-height: 50px;
   text-transform: uppercase;
   text-align: center;
}

.photo-container {
   width: 220px;
}

.photo {
   width: 220px;
   height: 217px;
   background-color: #8c8c8c;
}

.menu:hover .submenu-container {
   background-color: black;
   display: block;
}

.menu:hover .name {
   background-color: #1abc9c;
}

.menu:hover .price {
   background-color: #7fd9c7;
}

.arrows {
   width: 25px;
   height: 25px;
   margin: 10px;
}

.add {
   width: 149px;
   height: 50px;
   text-align: center;
}

li {
   height: 50px;
   display: inline-block;
   border: 1px solid white;
   margin-bottom: 5px;
}

.submenu li:hover {
   background-color: aqua;
}

.addImg:hover {
   height: 48px;
   color: white;
   background-color: rgb(18, 6, 44);
   opacity: 1;
}

.pic {
   display: inline;
   padding: 10px 0;
   text-transform: uppercase;
   font-size: 12px;
   vertical-align: middle;
}

.submenu-container {
   top: 4px;
   right: 10%;
   display: none;
   width: 210px;
   height: 210px;
   position: absolute;
   list-style: none;
   opacity: 0.6;
}

.menuImg {
   width: 220px;
}