* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* outline: 1px solid #f38181; */
}

.wrapper {
   max-width: 960px;
   padding: 20px 0;
   margin: auto;
   background-color: white;
}

.section-one {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-content: space-around;
   align-items: center;
}

.nav-container {
   display: flex;
   justify-content: space-between;
   margin-bottom: 90px;
   align-items: center;
}

.pic-container {
   display: flex;
   justify-content: space-around;
   /* overflow: hidden; */
}

.icon-first {
   width: 32px;
   height: 31px;
   margin-right: 27px;
}

.pic {
   width: 383px;
   height: 473px;
   position: relative;
   margin-right: 25px;
}

.img-services {
   width: 100%;
   height: 344px;
   margin-bottom: 20px;
   position: absolute;
   top: 0;
}

.second {
   width: 100%;
   height: 364px;
   position: absolute;
   top: 0px;
   display: none;
   background: linear-gradient(to bottom, #e88683d8, #fce38ada);
   box-shadow: 6px 8px 0px 0 rgba(19, 245, 200, 1);
}

.icon-name {
   font-size: 14px;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   margin-bottom: 20px;
   opacity: 0.8;
}

.icon-text {
   font-size: 15px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   opacity: 0.5;
   margin-bottom: 99px;
}

.icon-img {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 344px;
}

.icon-li {
   width: 56px;
   height: 56px;
   background-color: #fce38a;
   border-right: 1px solid #e88683d8;
}

.icon-img-sec {
   padding: 15px;
}

.icon-li:hover {
   background-color: #95e1d3;
}

.img-services:hover .second {
   display: block;
   transition: all 2s linear;
   transform: translateY(0px);

}

.style {
   font-family: 'Kaushan Script', cursive;
   font-size: 24px;
   text-align: center;
   margin-bottom: 22px;
}

a {
   text-decoration: none;
   color: #95e1d3;
   font-size: 20px;
}

a:hover {
   color: #f38181;
   border-bottom: 3px solid #f38181;
}

.logo {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 30px;
}

.nav-ul {
   display: flex;
   justify-content: space-around;
   align-content: center;
}

.nav {
   width: 400px;
   font-weight: 400;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
}

li {
   list-style: none;
}


h2 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   text-align: center;
   margin-bottom: 30px;
   font-size: 30px;
}


h2::after {
   content: "";
   width: 60px;
   height: 3px;
   background-color: #f38181;
   display: block;
   margin: 20px auto 50px;
}

.icon-wrapper {
   display: flex;
   align-content: space-between;
   justify-content: center;
}

.team {
   text-align: center;
}

.team-img {
   width: 100%;
   margin-bottom: 30px;
   transition: all 2s linear;
}

.test {
   display: flex;
   margin-bottom: 20px;
   width: 100%;
   justify-content: space-around;
}

.icon-container {
   width: 260px;
   display: flex;
   align-content: space-around;
}

.pic-text {
   font-family: 'Roboto', sans-serif;
   font-style: italic;
   font-weight: 300;
   font-size: 15px;
   opacity: 0.5;
}

.footer__btn {
   font-size: 18px;
   text-transform: uppercase;
   font-family: 'Montserrat-Bold';
   width: 200px;
   height: 44px;
   background-color: #95e1d3;
   border: none;
   color: white;
}

.footer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: left;
   padding-top: 50px;
}

.footer::before {
   content: "";
   display: block;
   width: 100%;
   height: 1px;
   margin-bottom: 10px;
   background-color: black;
   opacity: 0.2;
}

.form {
   display: flex;
}

.input {
   height: 44px;
   opacity: 0.5;
}

.footer__text {
   color: #f59494;
}

.footer__info {
   font-family: 'Montserrat';
   font-size: 15px;
   margin-right: 20%;
}

.rower {
   display: flex;
   justify-content: space-between;
}