* {
   margin: 0;
   padding: 0;
   /* outline: 1px solid #f38181; */
}

.wrapper {
   max-width: 960px;
   padding: 20px 0;
   margin: auto;
   background-color: white;
   font-family: 'Montserrat', sans-serif;
}

.section-one {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-content: space-around;
   align-items: center;
}

.nav-container {
   display: flex;
   justify-content: space-between;
}

.pic-container {
   display: flex;
   justify-content: space-around;
}

.icon-first {
   width: 50px;
   height: 50px;
}

.pic {
   width: 280px;
   height: 430px;
   position: relative;
}

.img-services {
   width: 100%;
   height: 344px;
   margin-bottom: 20px;
   position: absolute;
   top: 0;
}

img {
   width: 100%;
   display: block;
}

.second {
   width: 100%;
   height: 344px;
   position: absolute;
   top: 0px;
   opacity: 0.9;
   box-shadow: 0 0 10px rgba(125, 241, 232, 0.5);
}

.icon-name {
   font-size: 20px;
   text-transform: uppercase;
   font-weight: 600;
}

.second {
   position: absolute;
   top: 0;
   display: none;
}

.icon-img {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 344px;
}

.icon-li {
   width: 30px;
   height: 30px;
   background-color: #f3c210;
   border: 1px solid rgb(77, 23, 23);
}

.icon-li:hover {
   background-color: #95e1d3;
}

.img-services:hover .second {
   background-color: rgba(236, 201, 85, 0.8);
   display: block;
}

.style {
   font-family: 'Kaushan Script', cursive;
}

a {
   text-decoration: none;
   color: aqua;
   font-size: 20px;
}

a:hover {
   color: #f38181;
   border-bottom: 1px solid #f38181;
}

.logo {
   font-weight: 700;
   font-size: 40px;
}

.nav-ul {
   display: flex;
   justify-content: space-around;
   align-content: center;
}

.nav {
   width: 350px;
   font-weight: 600;
}

li {
   list-style: none;
}

p,
h2 {
   text-align: center;
   margin-bottom: 30px;
}

h2::after {
   content: "";
   width: 80px;
   height: 3px;
   background-color: #f38181;
   display: block;
   margin: 20px auto 50px;
}

.icon-wrapper {
   display: flex;
   align-content: space-between;
   justify-content: center;
}

.test {
   display: flex;
   margin-bottom: 20px;
   width: 100%;
   justify-content: space-around;
}

.icon-container {
   width: 260px;
   display: flex;
   align-content: space-around;
}