@font-face {
   src: url(css/exo.medium.otf);
   font-family: 'exo', sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* outline: 1px solid red; */
}

.wrapper {
   padding: 50px 0;
   max-width: 1200px;
   margin: auto;
   background-color: white;
   overflow: hidden;
   font-family: 'exo', sans-serif;
   position: relative;
   overflow: hidden;
}

.text {
   display: inline-block;
   width: 59%;
   vertical-align: top;
}

.text-red {
   color: #fb8686;
   font-size: 16px;
}

.gray {
   display: inline-block;
   width: 40%;
   background-color: #ececec;
   height: 400px;
   overflow: hidden;
   position: relative;
}

.redBack {
   background-color: red;
   width: 650px;
   position: relative;
   overflow: hidden;
   transform: rotate(40deg);
   height: 600px;
   opacity: 0.4;
}

.right {
   position: relative;
   right: -250px;
   bottom: -140px;
}

h2 {
   color: red;
   font-size: 13px;
   font-weight: 200;
   margin-bottom: 20px;
}

h3 {
   font-size: 30px;
   font-weight: 100;
}

h4 {
   font-size: 20px;
   font-weight: 100;
   margin: 30px 0;
}

span {
   color: red;
}

p {
   color: #939393;
   margin: 30px 0;
}

.text-align {
   text-align: center;
}

.text-macbook {
   text-align: center;
   margin-left: 50px;
   display: inline-block;
   width: 600px;
   vertical-align: 127px;
}

.block {
   width: 300px;
   display: inline-block;
   margin: 100px 10px 100px 0;
}

.img {
   display: block;
   margin: auto;
}

.img-one {
   position: absolute;
   top: -25px;
   left: 0;
   background: transparent;
}

.img-two {
   position: absolute;
   top: 0;
   right: 10px;
   background: transparent;
}

.img-three {
   position: absolute;
   bottom: -130px;
   right: 10px;
   background: transparent;
}

.white {
   background-color: white;
}

.left {
   position: absolute;
   top: 78px;
   left: -284px;
   transform: rotate(45deg);
}

.macbook {
   display: block;
   position: absolute;
   width: 400px;
   height: 200px;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 50%;
}