<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Luxo</title>
   <link rel="stylesheet" href="css/Luxo.css">
</head>

<body>
   <header class="wrapper">
      <div class="nav">
         <a href="#"><img src="img/Logo.png" alt="logo"></a>
         <a href="#">Unsubscribe</a>
      </div>
   </header>

   <section class="section1">
      <div class="wrapper">
         <h1>Luxo Have New Offers For You</h1>
         <p class="section1text">Lorem Ipsum dolor sit amet en dol est</p>
         <button class="btn">Learn More</button>
      </div>
   </section>

   <section class="section2 wrapper">
      <div class="section2container">


         <div class="section2box">
            <div class="section2pic"><img src="" alt="" class="section2img"></div>
            <p class="section2text1">Luxo Offer #1</p>
            <p class="section2text2">London,UK</p>
            <p class="section2text3">Sed porttitor lectus nibh.
               Vivamus magna justo,lacinia
               eget consectetur sed.</p>
            <p class="price">$799/mo</p>
            <button class="section2btn">Show Me More</button>
         </div>

         <div class="section2box">
            <div class="section2pic"><img src="" alt="" class="section2img"></div>
            <p class="section2text1">Luxo Offer #1</p>
            <p class="section2text2">London,UK</p>
            <p class="section2text3">Sed porttitor lectus nibh.
               Vivamus magna justo,lacinia
               eget consectetur sed.</p>
            <p class="price">$799/mo</p>
            <button class="section2btn">Show Me More</button>
         </div>

         <div class="section2box">
            <div class="section2pic"><img src="" alt="" class="section2img"></div>
            <p class="section2text1">Luxo Offer #1</p>
            <p class="section2text2">London,UK</p>
            <p class="section2text3">Sed porttitor lectus nibh.
               Vivamus magna justo,lacinia
               eget consectetur sed.</p>
            <p class="price">$799/mo</p>
            <button class="section2btn">Show Me More</button>
         </div>

      </div>
   </section>
</body>

</html>