@font-face {
   src: url(../fonts/Montserrat-Bold.ttf);
   font-family: 'Montserrat-Bold', sans-serif;
   font-weight: 700;
}

@font-face {
   src: url(../fonts/Montserrat-Regular.ttf);
   font-family: 'Montserrat-Regular', sans-serif;
   font-weight: 400;
}

@font-face {
   src: url(../fonts/Roboto-Light.ttf);
   font-family: 'Roboto-Light', sans-serif;
   font-weight: 300;
}

@font-face {
   src: url(../fonts/Roboto-Regular.ttf);
   font-family: 'Roboto-Regular', sans-serif;
   font-weight: 400;
}

.general {
   background-image: linear-gradient(to bottom, #b1744290, #9ea04732), url(../img/Vectormob.png);
   background-repeat: no-repeat;
   background-position: center center;
   font-family: 'Montserrat-Bold', sans-serif;
   color: white;
   padding-bottom: 139px;
}

.logotype {
   /* text-decoration: none; */
   color: white;
   display: none;
   font-size: 20px;

}

.navigator {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   font-size: 14px;
   padding: 20px 0;
   margin-bottom: 115px;
}

.buttonWhite {
   border: 1px solid white;
   border-radius: 20px;
   padding: 5px;
   text-align: center;
}

.first {
   justify-content: center;
   text-align: center;
   margin: 0;
   padding: 0;

}

.text1 {
   font-size: 20px;
   margin-bottom: 38px;
}

.fiersth1 {
   font-size: 35px;
   margin-bottom: 19px;
   text-transform: uppercase;
}

.text2 {
   font-size: 18px;
   margin-bottom: 19px;
   font-family: 'Roboto-Light', sans-serif;
   padding: 0 32px;
}

.buttonRose {
   font-size: 12px;
   color: white;
   border: none;
   border-radius: 20px;
   width: 280px;
   height: 40px;
   padding: 12px 50px;
   background-color: #ff4e50;
}

.gallery {
   padding: 20px 0;
   justify-content: center;
   text-align: center;

}

.gellaryList {
   display: flex;
   flex-direction: column;

}

.galleryh2 {
   font-family: 'Montserrat-Bold', sans-serif;
   font-size: 22px;
   text-align: center;
   margin-bottom: 14px;
}

.galleryPic {
   margin-bottom: 20px;
   position: relative;
   width: 130px;
   height: 150px;
   margin: auto;
}

.galleryImg1 {
   width: 130px;
   height: 150px;
   border-radius: 50%;
}

.galleryIcon1 {
   background-color: #ff4e50;
   border-radius: 50%;
   border: 4px solid white;
   padding: 5px;
   position: absolute;
   bottom: 2%;
   right: 0%;
}

.galleryIcon2 {
   background-color: #ffa507;
   border-radius: 50%;
   border: 4px solid white;
   padding: 5px;
   position: absolute;
   bottom: 2%;
   right: 0%;
}

.galleryIcon3 {
   background-color: #1cd7ad;
   border-radius: 50%;
   border: 4px solid white;
   padding: 5px;
   position: absolute;
   bottom: 2%;
   right: 0%;
}

.galleryIcon4 {
   background-color: #4e73db;
   border-radius: 50%;
   border: 4px solid white;
   padding: 5px;
   position: absolute;
   bottom: 2%;
   right: 0%;
}

.galleryh3 {
   margin: 16px 0;
   font-size: 14px;
   font-family: 'Montserrat-Bold', sans-serif;
   font-weight: 600;
}

.galleryInfo {
   font-family: 'Roboto-Light', sans-serif;
   font-size: 14px;
   padding: 0 44px;
   margin-bottom: 20px;
}
.galleryBox {
   padding: 0;
   margin: 0;
   /* display: flex; */
}
.gallerybutton {
   width: 280px;
   height: 40px;
   border: 1px solid #ff4e50;
   color: #ff4e50;
   background-color: #fff;
   border-radius: 20px;
   display: block;
   margin: auto;
}

.galleryContainer {
   flex-direction: columne;
}



@media (min-width: 768px) {


   .general {
      background-image: linear-gradient(to bottom, #b1744290, #9ea04732), url(../img/VectorSmart.png);
      margin: 0;
      padding-bottom: 234px;
   }

   .fiersth1 {
      font-size: 52px;
   }

   .text2 {
      font-size: 24px;
      margin-bottom: 34px;
   }

   .text3 {
      width: 226px;
      padding: 12px 30px;
   }


}

@media (min-width: 1024px) {
   .galleryContainer {
      flex-direction: row;
   }

   .gallery {
      flex-direction: row;
   }
}