* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: 1px solid red;
}
.wrapper {
   padding: 30px 0;
   max-width: 1200px;
   margin: auto;
   background-color: white;
   overflow: hidden;
}
.text {
   display: inline-block;
   width: 59%;
   vertical-align: top;
   text-align: left;
}
.text-red {
   color: red;
   font-size: 16px;
}
.gray {
   display: inline-block;
   width: 40%;
   background-color: gray;
   height: 400px;
   overflow: hidden;
   position: relative;

   
}
.redBack {
   background-color: red;
   width: 600px;
   position: relative;
   overflow: hidden;
   transform: rotate(40deg);
   height: 600px;
   /* left: -200px;
   bottom: -200px; */
}
.right {
   position: relative;
   right: -250px;
    bottom: -140px;
}
.pikchers {
   /* width: 1000px; */
   /* background-color: antiquewhite; */
   position: relative;
   overflow: hidden;
}

h2 {
   padding-top: 200px;
   text-align: center;
}
p {
   text-align: center;
   margin: 30px 0;
}
.block {
   width: 300px;
   display: inline-block;
   margin: 100px 10px 100px 0;
}
.img {
   display: block;
   margin: auto;
}
.img-one {
   position: absolute;
   top: -25px;
   left: 0;
   background: transparent;
}
.img-two {
   position: absolute;
   top: 0;
   right: 10px;
   background: transparent;
}
.img-three {
   position: absolute;
   bottom: -130px;
   right: 10px;
   background: transparent;
}

.left {
   position: absolute;
   top: 78px;
    left: -240px;
    transform: rotate(45deg);
}
}
.macbook {
   display: block;
   position: absolute;
   width: 400px;
   height: 200px;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 50%;
}
.container {
   position: relative;
   
}















/* .container {
   width: 400px;
   margin: auto; 
}
.menu {
   width: 400px;
   height: 50px;
   margin: auto;   
   position: relative; 
   top: 50px;
   background-color: aquamarine;
}

.container:hover .submenu{
   display: block;
   background-color: black; 
   color: white;
}
.submenu {
   position: relative;  
   top: 50px;
   color: red;
   display: none;
} */


