* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.wrapper {
   max-width: 480px;
   margin: auto;
   padding: 10px 0;
}

.header {  
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin-bottom: 70px;
   
}
.nav {
   display: flex;
   flex-direction: column;
   align-items: start;
}
.nav li {
   text-transform: uppercase;
   font-size: 11px;
   list-style: none;
}
.section1 {
   background-image: linear-gradient(to top,rgba(66, 63, 63, 0.7), rgba(52, 51, 54, 0.7)), url(../img/Background.png);
   background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}
a {
   text-decoration: none;
   color: white;
}
.section1text {
   font-size: 15px;
   font-style: italic;
   margin-bottom: 20px;
}
h1 {
   text-transform: uppercase;
   font-weight: 800;
   margin-bottom: 30px; 
}
.btn {
   width: 100px;
   height: 40px;
   background-color: #fed136;
   margin-bottom: 150px;
   color: white;
   border: none;
   border-radius: 3px;
   text-transform: uppercase;
}
.section2box1::before {
   content: "";
   background-image: url(../img/Icon.png);
   display: block;
   background-repeat: no-repeat;
   background-position: center;
   height: 30px;
   width: 30px;
   margin: 0 auto 25px;
   border: 2px solid #fed136;
    padding: 15px;
    border-radius: 50%;

}

.section2box2::before {
   content: "";
   background-image: url(../img/Icon1.png);
   display: block;
   background-repeat: no-repeat;
   background-position: center;
   height: 30px;
   width: 30px;
   margin: 0 auto 25px;
   border: 2px solid #fed136;
    padding: 15px;
    border-radius: 50%;

}

.section2box3::before {
   content: "";
   background-image: url(../img/Icon2.png);
   display: block;
   background-repeat: no-repeat;
   background-position: center;
   height: 30px;
   width: 30px;
   margin: 0 auto 25px;
   border: 2px solid #fed136;
    padding: 15px;
    border-radius: 50%;

}
h2 {
   text-transform: uppercase;
   margin-bottom: 15px;

}
.section2 {
   text-align: center;
   padding: 30px;
}
.section2text {
   font-size: 13px;
   font-style: italic;
   margin-bottom: 20px;
}
.section2text1 {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 20px;
}
.section2text2 {
   font-size: 15px;
   opacity: 0.8;
   margin-bottom: 15px;
}
.section2box {
   
   margin: auto;
   margin-bottom: 20px;
   width: 80%;
}
.section3 {
   text-align: center;
   background-color: #f7f7f7;
}
.section3text {
   font-size: 13px;
   font-style: italic;
   margin-bottom: 20px;
}
.section3box {
   display: flex;
   flex-direction: column;
   /* margin: auto; */
   
}
.section3text1 {
   font-size: 15px;
   font-weight: 600;
   margin-bottom: 10px;
}
.section3text2 {
   font-size: 15px;
   opacity: 0.8;
   margin-bottom: 15px;
}

.section3pic {
   /* width: 250px; */
   /* height: 350px; */
   margin-bottom: 15px;
}
.section3 img {
   max-width: 100%;
}
.section4 {
   text-align: center;
}
.container {
   width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
}
.pic {
   /* border: 4px solid #cfcece; */
   /* border-radius: 50%;  */
   width: 100%;
   /* height: 150px;  */
   /* position: relative;  */
   /* overflow: hidden; */
   margin: auto;
}
.pic img {
   border: 4px solid #cfcece;
   border-radius: 50%; 

}


.TextBox {
   display: flex;
   flex-direction: column;
   text-align: left;
}
h3 {
   margin-bottom: 20px;
}
.TextBox p {
   margin-bottom: 15px;
}
.TextRight {
   text-align: right;
}
.TextPic {
   background-color: #fed136;
   color: white;
   padding: 15px 25px;
   text-align: center;
   font-size: 25px;
   font-weight: 700;
}
.pic::after {
   content: "";
   width: 1px;
   height: 100px;
   display: block;
   margin: 142 auto;
   background-color: red;
}


@media (min-width: 768px) {
   .wrapper {
      max-width: 960px;
   }
   .nav li {         
      font-size: 18px;
   }
   .nav {      
      flex-direction: row;
   }
   .section1text {
      font-size: 20px;
   }
   h1 {
      font-size: 28px;
   }
   .btn {
      font-size: 13px;
      width: 120px;
   }
   .section2container {
      display: flex;
   }
   .space {
      margin-right: 15px;
      /* width: 33,33%; */
   }
   .section3container {
      display: flex;
      justify-content: space-around;
   }
   .container {
      flex-direction: row;
      width: 70%;
      margin-bottom: 30px;
   }
   .TextLeft {
      width: 40%;
   }
   .pic {
      width: 33%;
   }
   .TextRightdiv:nth-of-type(4) {
      order: 1;
   }
   .container img {
      left: 0%;
   }
   .TextPic {
      padding: 13px 31px;
   }