* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: 1px solid red;
}

.section-one {
   width: 100%;
   background-image: linear-gradient(to right, rgba(20, 30, 48, 0.8), rgba(36, 59, 85, 0.8)), url(../img/IMAGE.png);
   background-size: cover;
   background-position: center center;
}

.wrapper {
   max-width: 940px;
   margin: auto;
   text-align: center;
   padding: 50px 0;
}

.logo {
   float: left;
   display: block;
   margin-right: 100px;
}

.logo::after {
   content: "tajam";
   width: 50px;
   height: 50px;
   vertical-align: top;
   padding-top: 15px;
   text-transform: uppercase;
   color: white;
}

a {
   text-decoration: none;
   color: white;
}

a:hover {
   color: aqua;
}

.nav-list {
   float: right;
}

.nav {
   float: left;
   list-style: none;
   padding: 0 10px;


   text-transform: uppercase;
}

header {
   padding: 20px 0;
}

h2 {
   color: white;
   padding: 200px 0 30px 0;

}

h2::after {
   content: "";
   width: 50px;
   height: 1px;
   background-color: aliceblue;
   display: block;
   margin: auto;
   margin-top: 30px;
}

.white {
   color: white;
}

.btn {
   width: 150px;
   height: 50px;
   background-color: #3c3c3c00;
   margin: 30px 0;
   color: aqua;
   font-family: 'Lato', sans-serif;
   font-size: 15px;
   text-transform: uppercase;
   border: 1px solid aqua;
}

.story {
   width: 400px;
   float: left;
}

.black {
   color: black;
}

.clearfix:after {
   content: '';
   display: table;
   clear: both;
}
.clear {
   content: '';
   display: table;
   clear: both;

}

.video {
   background-image: linear-gradient(to right, rgba(20, 30, 48, 0.8), rgba(36, 59, 85, 0.8)), url(../img/sity.png);
   background-size: cover;
   background-position: center center;
   height: 550px;
}


.icon {
   width: 300px;
   height: 250px;
   display: inline-block;
   padding: 20px 0;
}

.icon-one::before {
   content: "";
   display: block;
   background-image: url(../img/1.png);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   height: 50px;
   width: 50px;
   margin: 20px auto;
}

.icon-two::before {
   content: "";
   display: block;
   background-image: url(../img/2.png);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   height: 50px;
   width: 50px;
   margin: 20px auto;
}

.icon-three::before {
   content: "";
   display: block;
   background-image: url(../img/3.png);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   height: 50px;
   width: 50px;
   margin: 20px auto;
}

.icon-for::before {
   content: "";
   display: block;
   background-image: url(../img/4.png);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   height: 50px;
   width: 50px;
   margin: 20px auto;
}

.icon-five::before {
   content: "";
   display: block;
   background-image: url(../img/5.png);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   height: 50px;
   width: 50px;
   margin: 20px auto;
}

.icon-six::before {
   content: "";
   display: block;
   background-image: url(../img/6.png);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   height: 50px;
   width: 50px;
   margin: 20px auto;
}

p,
h3,
h4 {
   margin-bottom: 20px;
}

.line::after {
   content: "";
   width: 50px;
   height: 1px;
   background-color: black;
   display: block;

   margin: 20px auto 50px;
}

.border-right {
   border-right: 1px solid black;
}

.border-bottom {
   border-bottom: 1px solid black;
}

.team-container {
   width: 200px;
   height: 310px;
   float: left;
   margin: 15px ;

}

/* .team-container:last-child { */
   /* margin-right: 0; */
}

.team-name {
   height: 79px;
   vertical-align: bottom;
   font-size: 13px;
   /* padding: 20px 0; */
}

.team-photo {
   height: 229px;
   background-color: aquamarine;
   /* margin-bottom: 20px; */
}

.name {
   font-size: 14px;
   padding-top: 15px;


}
.float-left {
   float: left;
   
}
.float-right {
   float: right;
   
}
.block {
   width: 219px;
   height: 150px;
   display: inline-block;
   margin: 0 -4px -4px;
   background-color: #b6b6b6;
}

.block:nth-child(9n+2){
   background-color: #acacac;
}
.block:nth-child(7n+3){
   background-color: #a1a1a1;
}

.block:nth-child(5n+4){
   background-color: #8a8a8a;
}
.block:nth-child(6), .block:nth-child(7){
   background-color: #a4a4a4;
}
.block:nth-child(7n+3){
   background-color: #a1a1a1;
}
.quote::before {
   content: " “ ";
   display: block;
   background-size: contain;
   background-position: center;
   /* background-repeat: no-repeat; */
   height: 50px;
   width: 50px;
   margin: 20px auto;
   color: white;
   font-size: 50px;
}
.quote-team {
   display: inline-block;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   margin: 0 15px;

}
.quote-team:nth-child(4){
   margin-left: 35px;
}
.quote-team:nth-child(1)::before {
   content: "";
   background-image: url(../img/back@1X.png);
   display: inline-block;
   background-size: contain;
   background-position: center;
   /* background-repeat: no-repeat; */
   height: 50px;
   width: 50px;

}





/* .team { */
   /* padding: 20px 0; */





/* .section {
   width: 500px;
   height: 500px;
   background-image: linear-gradient(to left, #ff5f6c65,#FFC371),url(../img/depositphotos_14534069-stock-photo-perfect-sky-and-water-of.jpg);
   background-size: cover;
   line-height: 500px;
}

p {
   text-align: center;

}
p::before {
   content: "";
   width: 50px;
   height: 50px;
   background-size: cover;
   background-position: center;
   display: inline-block;
   background-image: url;
} */